@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
    font-family: 'Modern Negra Demo';
    src: url('../fonts/ModernNegraDemo.woff2') format('woff2'),
        url('../fonts/ModernNegraDemo.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


:root {
    --primary_color: #E7D393;
    --secondary_color: #EFEFEF;
    --body_color: #EFEFEF;
    --link_color: #EFEFEF;
    --link_hover_color: #E7D393;
    --heading_color: #fff;
    --body_font: "Mona Sans", sans-serif;
    --heading_font: 'Modern Negra Demo', serif;
    --primary_transition: 400ms;
}

*{box-sizing: border-box;}
*:focus{outline:none;}
::-moz-focus-inner{border:0;}
body{margin:0px; background: #000;}
body{font-family:var(--body_font); font-weight:400; color:var(--secondary_color); font-size:18px; line-height:30px;}
strong{font-weight:700;}
a{ text-decoration:none; color:var(--link_color); transition: var(--primary_transition);}
a:hover, a:focus{text-decoration:none; color: var(--link_hover_color); }
p{margin:0 0 15px 0;}
p:last-child{margin:0;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-uppercase{text-transform:uppercase;}

.white-text,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6{color:#fff;}


/* h1,h2,h3,h4,h5,h6{margin-top:0px; font-weight:400; margin-bottom:15px; }
h1 { {{heading1.style}}; font-size:{{heading1.size ~ heading1.size_unit}}; color:{{heading1.color}}; line-height:34px; }
h2 { {{heading2.style}}; font-size:{{heading2.size ~ heading2.size_unit}}; color:{{heading2.color}}; line-height:40px; }
h3 { {{heading3.style}}; font-size:{{heading3.size ~ heading3.size_unit}}; color:{{heading3.color}}; line-height:43px; }
h4 { {{heading4.style}}; font-size:{{heading4.size ~ heading4.size_unit}}; color:{{heading4.color}}; line-height:44px; }
h5 { {{heading5.style}}; font-size:{{heading5.size ~ heading5.size_unit}}; color:{{heading5.color}}; line-height:36px; }
h6 { {{heading6.style}}; font-size:{{heading6.size ~ heading6.size_unit}}; color:{{heading6.color}}; line-height:30px; } */

.container{margin-left:auto; margin-right:auto; padding-left:15px; padding-right:15px;}

img{height:auto; max-width:100%;}



/* CSS start from here */
/* header css start */
header.site-header { padding: 30px 0; }
header.site-header .site-branding a { gap: 10px; font-size: 30px; line-height: 40px; font-family: var(--heading_font); }
header.site-header nav ul { margin: 0; padding: 0; list-style: none; display: flex; align-items: center; gap: 45px; }
/* header css end */


/* CSS end  here */

@media (min-width:768px) { .container {width:750px;} }
@media (min-width:992px) { .container {width:970px;} }
@media (min-width:1200px) { .container {width:1170px;} }
@media (min-width:1430px) { .container {width:1290px;} }




@media (min-width:768px) {
    .flex{display:flex}
    .flex-reverse{flex-flow:row-reverse;}
    .align-center{align-items:center;}
    .align-top{align-items:flex-start;}
    .align-bottom{align-items:flex-end;}
    .space-between{justify-content:space-between;}
    .justify-center{justify-content:center;}
    .justify-right{justify-content:flex-end;}
    .justify-left{justify-content:flex-start;}
    .row-wrap{flex-flow:row wrap;}
    .mobile-show{display:none} 
}

@media (max-width:1629px){}
@media (max-width:1429px){}
@media (max-width:1199px){}
@media (max-width:991px){}
@media (max-width:767px){
    body{font-size:16px; line-height:24px;}
}